body{
    width : 0px, auto;
    margin: 5px auto;
    padding: 10px;
    text-align: right;
    background-color: lightblue;
}
li{
    display: inline;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: lightblue;
    background-color: rgb(9, 53, 68);
    border: 1px solid rgb(9, 53, 68);
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;

}
h1{
    color: black;
    font-size: 50px;
    text-align: center;
}
h2{
    color: black;
    font-size: 30px;
    text-align: center;
}
p{
    color: black;
    font-size: 20px;
    text-align: center;
}
p.foo{
    background-color: rgb(9, 53, 68);
    margin-top: 75px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 16px;
    color: white;
}
p.about{
    background-color: rgb(9, 53, 68);
    padding: 15px;
    color: white;
}

@media  (max-width: 768px) {
    body {
        font-size: 1.2rem;
        background-color: aliceblue;
    }
    .container {
        flex-direction: row;
    }
    .section {
        flex-direction: row;
    }
    .section img {
        max-width: 300px;
    }
    .section-content {
        padding: 1rem 2rem;
    }
    h1{
        font-size: 30px;
        text-align: right;

    }
    h2{
        font-size: 20px;
        text-align: right;
    }
   
    p{
        color: black;
        font-size: 16px;
        text-align: right;
    }
    li{
        display: inline;
        margin: 10px;
        position: stretch;
        font-size: 16px;
        
    }
}